<div class="container">
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<div id="foot">
<div id="footContent" >
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 noPadd">
<p>Jhon Smith</p>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 noPadd pull-right"><a
	href="http://tieba.baidu.com/f?kw=clannad&fr=home&fp=0&ie=utf-8" target="_blank" title="欢迎来到clannad吧"><img
	style="width: 30px" alt="欢迎来到clannad吧"
	src="{{ url_for('novel.static', filename='images/baricon.jpg') }}"></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>